// app global css in SCSS form
// app global css in SCSS form
body.body--dark {
  --q-primary: #26a69a;
  --q-secondary: #027BE3;
  --q-accent: #9C27B0;
  --q-positive: #21BA45;
  --q-negative: #C10015;
  --q-info: #31CCEC;
  --q-warning: #F2C037;
  // custom colors
}
body.body--light {
  --q-primary: #027BE3;
  --q-secondary: #26A69A;
  --q-accent: #9C27B0;
  --q-positive: #21BA45;
  --q-negative: #C10015;
  --q-info: #31CCEC;
  --q-warning: #F2C037;
  // custom colors
}
